<configuration scan='true"'>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	<encoder>
	  <pattern>%d{MM/dd/yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	</encoder>
  </appender>

  <appender name="rolling-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
	<file>dbus-test.log</file>
	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	  <!-- Roll Daily -->
	  <fileNamePattern>dbus-test-%d{yyy-MM-dd}.log</fileNamePattern>
	  <maxHistory>30</maxHistory>
	</rollingPolicy>
	<encoder>
	  <pattern>%d{MM/dd/yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	</encoder>
  </appender>

  <logger name="com.ami" level="trace" />
  <logger name="com.ami.iris.IrisEncoder" level="trace" />
  <logger name="com.ami.iris.IrisDecoder" level="trace" />
  <logger name="scala.slick" level="warn" />

  <root level="trace">
	<appender-ref ref="rolling-file"/>
  </root>
</configuration>
